<ul class="task-list-section">
<% @completed.each do |task| %>
	<li class="task-list-items completed-items">
		<div class="task-list-checked-background"><%= best_in_place task, :completed, :type => :checkbox, :collection => ["false", "Done"] %></div>

		<div class="task-list-detail-background"><%= best_in_place task, :detail %></p> 
	</li>
<% end %>
</ul>