<ol>
<% @completed.each do |task| %>


<li><%= best_in_place task, :completed, :type => :checkbox, :collection => ["Click to Finish", "Done"] %>
	<p><%= best_in_place task, :detail %></p> 
	<%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id=>'delete' %>
</li>

<% end %>
</ol>