
<table>
<% @tasks.each do |task| %>

<tr>
<td><%= best_in_place task, :detail %></td>
<td><%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id=>'delete' %></td>
</tr>

<% end %>
</table>