
<ul class="task-list-section">
	<% if @dotasks.each do |task| %>
	<li class="task-list-items">
		<div class="task-list-check-background"><%= best_in_place task, :completed, :type => :checkbox, :collection => ["Okay", "Done"] %></div>
		<div class="task-list-detail-background"><%= best_in_place task, :detail, :maximum => 5 %></div>
		<div class="task-list-date-background"><%= best_in_place task, :due, :type => :date %></div>
	</li>
	<% end.empty? %>
  <div style="position:absolute; z-index: -10; font-size: 20px; margin-left: 30px">You should add some task..</div>


	<% end %>
</ul>
